* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

/* navbar */
nav {
  background-color: rgb(3, 67, 78);
  box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
  z-index: 1200;
}

/* sidebar */
.sidebar {
  position: fixed;
  right: 0;
  top: 95px;
  height: 100vh;
  width: 20%;
  z-index: 1200;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  background-color: rgb(1, 80, 94);
}

.select {
  background-color: rgba(3, 119, 139, 0.801);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}

/* coordnates */
.S-Coordinates {
  background-color: rgba(3, 119, 139, 0.801);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}

/* drawing */
.S-draw {
  background-color: rgba(3, 119, 139, 0.801);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}

.S-converter {
  background-color: rgba(3, 119, 139, 0.801);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}

/* map */
body {
  position: relative;
}

#map {
  position: absolute;
  top: 95px;
  width: 80%;
  height: 90vh;
}

#map {
  position: relative;
}

.coordinates {
  position: absolute;
  bottom: 0px;
  left: 7%;
  z-index: 99999;
  border-radius: 10px;
}

.popupContent {
  width: 100% !important;
}

/* converter */
.card {
  margin-bottom: 100px;

}

/* media query */
@media screen and (max-width : 1024px) {
  nav {
    background-color: rgb(3, 67, 78);
    box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    width: 100%;
    z-index: 999999;
    padding: 10px;
    font-size: small;
  }
  .sidebar {
    position: relative;
    width: 100%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    background-color: rgb(1, 80, 94);
  }
  .card {
    margin-bottom: 0;
  }
  #map {
    position: relative;
    width: 100%;
    height: 90vh;
  }

  .coordinates {
    position: absolute;
    bottom: 20px;
    left: 30%;
    z-index: 99999;
    border-radius: 10px;
    font-size: small;
  }
}

